# Specify sip v5 as the build system for the package.
[build-system]
requires = ["sip >=5, <6"]
build-backend = "sipbuild.api"

# Specify the PEP 566 metadata for the project.
[tool.sip.metadata]
name = "rpcfrmwrk"

[tool.sip.bindings.rpcfrmwrk]
headers = ["rpc.h"]
include-dirs = [ "../include","../ipc", "../test/stmtest"XXXXXXXX ]
libraries = ["combase", "ipc", "stmsvr" ]
library-dirs = ["../test/debug64"]
debug = true
tracing = true
define-macros = ["DEBUG"]
