name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: update repository
      run: sudo apt-get -o Acquire::Retries=3 update
    - name: install tzdata
      run: sudo DEBIAN_FRONTEND="noninteractive" apt-get -y install tzdata
    - name: install kerberos
      run: sudo apt-get install -qq krb5-kdc krb5-admin-server krb5-user
    - name: kill kerberos servers
      run: sudo kill -9 `pidof kadmind` || sudo kill -9 `pidof krb5kdc` || exit 0
    - name: configure kerberos
      run: sudo bash ./tools/initkrb5.sh 
    - name: login
      run: kinit -k -t /etc/krb5.keytab zhiming
    - name: install tools
      run: sudo apt-get -o Acquire::Retries=3 install -y gcc g++ python3 python3-dev python3-pip flex bison libtool shtool automake autoconf autotools-dev make dbus libdbus-1-3 libdbus-1-dev libjsoncpp1 libjsoncpp-dev libkrb5-3 libkrb5-dev liblz4-1 liblz4-dev lz4 openssl libssl1.1 libssl-dev libcppunit-1.15-0 libcppunit-dev bash net-tools procps swig;pip3 install numpy wheel 
    - name: install sip
      run: sudo apt-get -y install sip5-tools || sudo apt-get -y install sip-dev python3-sip python3-sip-dev || true; sudo apt-get -y install fuse3 libfuse3-3 libfuse3-dev || true
    - name: setup build env
      run: libtoolize;aclocal;autoreconf -vfi;automake --add-missing;autoconf;
    - name: configure
      run: ./configure "CPPFLAGS=-O2 -g -DRELEASE -D_DEBUG=0 -fno-strict-aliasing"
    - name: make
      run: make
    - name: install
      run: sudo make install
    - name: starting servers
      run: dbus-run-session bash tools/runtest.sh 2 & 
    - name: starting test
      run: dbus-run-session bash tools/runtest.sh 1
    - name: cleanup for ssl test
      run: bash tools/cfg4ssl.sh
    - name: starting ssl servers
      run: dbus-run-session bash tools/runtest.sh 2 & 
    - name: starting ssl test
      run: dbus-run-session bash tools/runtest.sh 1
    - name: install debian package tools
      run: sudo apt-get -y install devscripts debhelper
    - name: make debian package
      run: make deb && cd bldpkg && ls -ltr *.deb

