name: rpc-frmwrk CI scheduled

on:
  schedule:
    - cron: '10 8 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        ref: master

    - name: checkout gmssl
      uses: actions/checkout@v3
      with:
          repository: zhiming99/GmSSL
          path: ./gmssl

    - name: update repository
      run: sudo apt-get -o Acquire::Retries=3 update
    - name: install tzdata
      run: sudo DEBIAN_FRONTEND="noninteractive" apt-get -y install tzdata
    - name: install kerberos
      run: sudo apt-get install -qq krb5-kdc krb5-admin-server krb5-user nginx
    - name: install tools
      run: sudo apt-get -o Acquire::Retries=3 install -y gcc g++ python3 python3-dev python3-pip flex bison libtool shtool automake autoconf autotools-dev make dbus libdbus-1-3 libdbus-1-dev libkrb5-3 libkrb5-dev liblz4-1 liblz4-dev lz4 openssl libssl3 libssl-dev libcppunit-1.15-0 libcppunit-dev bash net-tools procps swig ccache cmake;pip3 install numpy wheel
    - name: install sip
      run: sudo apt-get -y install sip5-tools || sudo apt-get -y install sip-dev python3-sip python3-sip-dev || true; sudo apt-get -y install fuse3 libfuse3-3 libfuse3-dev || true; sudo apt-get -y install libjsoncpp1 libjsoncpp-dev || sudo apt-get -y install libjsoncpp25 libjsoncpp-dev 

    - name: build gmssl
      run: cd ./gmssl/;mkdir build;cd build;cmake ..;make;sudo make install

    - name: setup build env
      run: libtoolize;aclocal;autoreconf -vfi;automake --add-missing;autoconf;
    - name: configure
      run: bash ./cfgsel r
    - name: make
      run: cat /proc/cpuinfo && make
    - name: install
      run: sudo make install
      
    - name: cleanup for test
      run: sudo python3 /usr/local/bin/rpcf/rpcfgnui.py tools/testcfgs/mincfg.json
    - name: starting servers
      run: dbus-run-session bash tools/runtest.sh 2 & 
    - name: starting test
      run: dbus-run-session bash tools/runtest.sh 1
      
    - name: cleanup for ssl test
      run: bash tools/cfg4ssl.sh sslcfg.json.in
    - name: starting ssl servers
      run: dbus-run-session bash tools/runtest.sh 2 & 
    - name: starting ssl test
      run: dbus-run-session bash tools/runtest.sh 1
    
    - name: configure kerberos
      run: sudo bash ./tools/initkrb5.sh
    - name: cleanup for kerberos test
      run: bash tools/cfg4ssl.sh krb5cfg.json.in
    - name: starting kerberos servers
      run: dbus-run-session bash tools/runtest.sh 2 k & 
    - name: starting kerberos test
      run: dbus-run-session bash tools/runtest.sh 1 k

    - name: configure websocket
      run: sudo bash ./tools/initws.sh
    - name: cleanup for websocket test
      run: bash tools/cfg4ssl.sh wscfg.json.in
    - name: starting websocket servers
      run: dbus-run-session bash tools/runtest.sh 2 k & 
    - name: starting websocket test
      run: dbus-run-session bash tools/runtest.sh 1 k

    - name: configure gmssl
      run: bash tools/cfg4gmssl.sh initcfg.json.in
    - name: starting gmssl servers
      run: dbus-run-session bash tools/runtest.sh 2 & 
    - name: starting gmssl test
      run: dbus-run-session bash tools/runtest.sh 1
    - name: cleanup gmssl files
      run: rm ./reqfwdr/driver.json && rmdir reqfwdr || true


